* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    all: unset;
    cursor: pointer;
}

header {

    background-color: #363062;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    transition: background-color 0.3s ease;
}

header.transparente {
    background-color: rgb(54, 48, 98,0.5);
}

header .title {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

main {
    padding: 1rem;
    flex: 1;
    background-color: #818FB4;
    width: 100vw;
    
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap: 32px;
    padding: 1rem;
    transition: 3s ease-in-out;
    width: 100%;
}

article {
    background-color: #F5E8C7;
    display: flex;
    flex-direction: row;
    /* border: 1px solid #435585; */
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
    width: 90%;
    height: 420px;
    /* height: auto; */
    
    transition: all 0.5s ease; 


    border-radius: 20px;

}

article:hover {
    transform: scale(1.02);
    transition: 300ms ease-in-out;
}

.image {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}

section article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

section article .content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1rem;
    width: 80%;
    height: 100%;
}

.tipo {
    font-size: 1rem;
    color: #435585;
    font-weight: 200;
}

.nombre {
    font-size: 2rem;
    color: #435585;
    font-weight: bolder;
    width: 90%;
    
}

.frase {
    color: #818FB4;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    width: 90%;
    font-weight: bolder;
}

.descripcion {
    color: #435585;
    font-size: 0.9rem;
    width: 90%;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.ataquec::first-line {
    color: #363062;
    font-weight: bolder;
  
}

.text-center {
    text-align: center;
}

.complejidad,
.ataque {
    margin: 0.2rem 0rem;
    color: #435585;
}

.container-busqueda {
    margin: auto;
    /* max-width: 30%; */
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.busqueda {
    width: 40%;
    position: relative;
	color: #f5f6f4;
	/* box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.12); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border-radius: 5px;
}

.busqueda-atributos {
    width: 30%;
    background-color: #363062;
	border-radius: 5px;
    margin: 0 2rem;
    height: 57px;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}


.busqueda input {
    width: 100%;
	border: none;
	outline: none;
	border-radius: 5px;
	height: 55px;
	padding: 0 60px 0 20px;
	font-size: 18px;
    
}

.icon {
    position: absolute;
	top: 15px;
	right: 25px;
	font-size: 22px;
	cursor: pointer;
	color: #0d141f;
}


.sugerencias {
    max-height: 280px;
	opacity: 0;
	pointer-events: none;
	padding: 0;
	overflow-y: auto;
}



.busqueda.active .sugerencias {
	opacity: 1;
	pointer-events: auto;
	padding: 10px 8px;
    width: 100%;
    background-color: #435585;
}


.sugerencias li {
	list-style: none;
	width: 100%;
	padding: 8px 12px;
	border-radius: 5px;
	display: none;
}

.busqueda.active .sugerencias li {
	display: block;
}


footer {
    width: 100vw;
    height: 200px;
    background-color: #435585;
    
}


@media (max-width:1124px) {
        article {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
        }

        .image {
            border-radius: 10px 10px 0px 0px;
        }

        .container-busqueda {
            flex-direction: column;
            max-width: 90%;
            align-items: center;
        }

        .busqueda,
        .busqueda-atributos{
            width: 60%;
        }
}


@media (max-width:700px) {
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .title {
        font-size: 2rem;
    }

    article {
        width: 90% ;
        

    }

    .container-busqueda {
        
        max-width: 100%;
    }

    .busqueda,
        .busqueda-atributos{
            width: 90%;
        }

        
    
}

@media (max-width:256px) {
    section article img {
        width: 10rem;
    }

   
    header {
        height: 10vh;
    }

    header .title {
        font-size: 1rem;
    }

    .busqueda,
        .busqueda-atributos{
            width: 100%;
        }

       
    
}



/* Imagenes iconos */

.icono_tipo_ataque{
    width: 10%;
    height: auto;
    background-color: #2f3640;
    border-radius:7px
}

.icono_atributo {
    width: 10%;
    height: auto;
}

.imagenes-atributos {
    display: grid;
    grid-template-columns: repeat(4,minmax(15px,1fr));
    gap: 10px;
}

.icono_atributo_busqueda {
    width: 50px;
    height: auto;
    margin: 1rem;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

.icono_atributo_busqueda:hover{
    transform: scale(1.1);
}

.icono_stats {
    width: 30%;
    height: auto;
}

/* .circulo {
    display: inline-block;
    width: 15px;  
    height: 15px; 
    background-color: #435585;
    border-radius: 50%; 
    margin-right: 5px; 
} */

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

/* SPINER from https://css-loaders.com/spinner/*/

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    margin: 2rem auto;
    display: none;
    --d:22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    color: #25b09b;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
  }
  @keyframes l27 {
    100% {transform: rotate(1turn)}
  }

  .loader.active {
    display: block;
  }


  #goToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    text-align: right;
  }

  #goToTop img{
    width: 15%;
  } 