* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', Courier, monospace;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {

    background-color: #363062;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header .title {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}

main {
    padding: 1rem;
    flex: 1;
    background-color: #818FB4;
}

section {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap; /*Por la dudas*/
    justify-content: space-around;
}

article {
    background-color: #F5E8C7;
    display: flex;
    flex-direction: row;
    border: 2px solid 435585;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
    width: 45%;
    height: 380px;
    /* height: auto; */
}

article:hover {
    transform: scale(1.02);
    transition: 300ms ease-in-out;
}

.image {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}

section article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

section article .content {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1rem;
    width: 80%;
    height: 100%;
}

.tipo {
    font-size: 1rem;
    color: #435585;
    font-weight: 200;
}

.nombre {
    font-size: 2rem;
    color: #435585;
    font-weight: bolder;
    width: 90%;
    
}

.frase {
    color: #818FB4;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    width: 90%;
    font-weight: bolder;
}

.descripcion {
    color: #435585;
    font-size: 0.9rem;
    width: 90%;
    margin-bottom: 0.5rem;
    font-weight: bolder;
}

.ataquec::first-line {
    color: #363062;
    font-weight: bolder;
  
}

.text-center {
    text-align: center;
}

.complejidad,
.ataque {
    margin: 0.2rem 0rem;
    color: #435585;
}

.paginacion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.container-busqueda {
    margin: auto;
    max-width: 30%;
}

.busqueda {
    width: 100%;
    position: relative;
	color: #f5f6f4;
	box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
    background-color: #2f3640;
	border-radius: 5px;
}

.busqueda input {
    width: 100%;
	border: none;
	outline: none;
	border-radius: 5px;
	height: 55px;
	padding: 0 60px 0 20px;
	font-size: 18px;
}

.icon {
    position: absolute;
	top: 15px;
	right: 25px;
	font-size: 22px;
	cursor: pointer;
	color: #0d141f;
}


.sugerencias {
    max-height: 280px;
	opacity: 0;
	pointer-events: none;
	padding: 0;
	overflow-y: auto;
}

.busqueda.active .sugerencias {
	opacity: 1;
	pointer-events: auto;
	padding: 10px 8px;
}


.sugerencias li {
	list-style: none;
	width: 100%;
	padding: 8px 12px;
	border-radius: 5px;
	display: none;
}

.busqueda.active .sugerencias li {
	display: block;
}


footer {
    width: 100vw;
    height: 200px;
    background-color: #435585;
    
}


@media (max-width:1124px) {
        article {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
        }

        .image {
            border-radius: 10px 10px 0px 0px;
        }

        .container-busqueda {
        
            max-width: 60%;
        }
}


@media (max-width:700px) {
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .title {
        font-size: 2rem;
    }

    article {
        width: 90% ;
        

    }

    .container-busqueda {
        
        max-width: 80%;
    }
    
}

@media (max-width:256px) {
    section article img {
        width: 10rem;
    }

   
    header {
        height: 10vh;
    }

    header .title {
        font-size: 1rem;
    }
    
}



/* Imagenes iconos */

.icono_tipo_ataque{
    width: 10%;
    height: auto;
    background-color: #2f3640;
    border-radius:7px
}

.icono_atributo {
    width: 10%;
    height: auto;
}

.icono_stats {
    width: 30%;
    height: auto;
}

.circulo {
    display: inline-block;
    width: 15px;  
    height: 15px; 
    background-color: #435585; /* Color de fondo del círculo */
    border-radius: 50%; 
    margin-right: 5px; 
}

.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}